//paleta de colores
$primary: rgb(39, 37, 37);
$secondary: rgb(66,73,73,0.9);
$javascript: #f7e018;
$html: #e93e30;
$css: #299ed5;
$adl: #63af2b;
$vue: #67c770;
$bootstrap: #563d7c;
$white:#fff;
$react:#292C33;
 


//tipografias
$poppins-font: 'poppins' , sans-serif;
$roboto-font:"roboto", sans-serif;
$lato-font: "lato" , sans-serif;


//peso fuentes
 $font-thin: 300;
 $font-medium: 500;
 $font-bold: 700;

 //tamaño fuente 
 $fs1: 32px;
 $fs2: 28px;
 $fs3: 26px;
 $fs4: 24px;
 $fs5: 20px;
 $fs6: 16px;

 //spacing
$sp1:4px;
$sp2:8px;
$sp3:16px;
$sp4:25px;
$sp5:30px;



